
body
{
   background-image: url(../img/bg.jpg);
   background-attachment: fixed;
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: 100% auto;

   font-family: 'Lato', sans-serif;
}

header
{
   margin-left: 55%;
   margin-right: 7%;
   margin-top: 175px;

   font-variant: small-caps;
   font-size: 4em;
   font-weight: 300;
}

main
{
   margin-left: 55%;
   margin-right: 7%;
}
