
body
{
   background-image: url(../img/bg.jpg);
   background-attachment: fixed;
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: 100% auto;

   font-family: 'Lato', sans-serif;
}

header
{
   line-height: 0;
   margin-left: 55%;
   margin-right: 7%;
   margin-top: 225px;
   margin-bottom: 200px;

   font-variant: small-caps;
   font-size: 4em;
   font-weight: 300;
}

header span
{
   position: fixed;
   left: 25%;
   top: 200px;
   font-size: 2em;
   line-height: 0;
}

main
{
   margin-left: 55%;
   margin-right: 7%;
}
